{
  "apiKey": "abcd",
  "authDomain": "my-app.firebaseapp.com",
  "databaseURL": "https://my-app-default-rtdb.europe-west1.firebasedatabase.app",
  "projectId": "my-app",
  "storageBucket": "my-app.appspot.com",
  "messagingSenderId": "123456",
  "appId": "1:2345:web:6789",
  "measurementId": "A_BCDE123",

  "webUrl": "https://my-app.web.app",
  "databaseName": "my-app-default-rtdb",
  "region": "europe-west1",
  "useEmulator": true,
  "maxActiveLobbies": 3
}