.avatar {
  border-radius: 50%;
}
.inline-avatar {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}
.player-name {
  /* Always aligned in the middle to match the avatar */
  vertical-align: middle;
}