@use '../colors.scss';

/*------------------------ Dropdown component -----------------------*/
// Copied from Bootstrap, except for vertical align

.dropdown {
  position: relative;
  .dropdown-toggle {
    cursor: pointer;
  }
  .dropdown-content {
    position: absolute;
    z-index: 1;
    // This is applies in JS:
    // inset: 0px 0px auto auto; // Keep it within the screen
    transform: translate(0px, 2em); // Move it below the toggle
  }
}
.dropdown-menu {
  padding: 0.25em 0;
  border-radius: 0.25rem;
  background-color: colors.$menu-bg;
  box-shadow: 0 2px 6px rgba(colors.$gray-5, 20%);

  .dropdown-menu-item {
    white-space: nowrap;
    padding: 0.25em 1em;
    &.disabled {
      opacity: 0.5;
    }
    &:not(.disabled) {
      cursor: pointer;
      &:hover {
        background-color: colors.$menu-focus-bg;
      }
    }
  }
}

.dropdown-toggle.with-arrow::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: middle; // 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
