@use "../colors.scss";
@use "../sizes.scss";

/*------------------------- Input component ------------------------*/
/* Copied from Bootstrap and modified */
input.control {
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: colors.$control-text;
  appearance: none;
  background-color: colors.$control-bg;
  background-clip: padding-box;
  border: 2px solid colors.$control-border;
  border-radius: sizes.$input-border-radius;
  font-family: inherit;
  font-size: inherit;
  &:focus,
  &:focus-visible {
    // color: colors.$control-text-focus;
    background-color: colors.$control-bg-focus;
    border-color: colors.$control-border-focus;
    outline: 0;
  }
}