@use '../colors.scss';

/*------------------------- Modal component ------------------------*/

.modal-container {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  color: #000;
  opacity: 0.6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
}

/* Similar to login-card */
.modal-card {
  padding: 1em;
  border-radius: 0.735rem;
  background-color: colors.$modal-bg;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  min-width: 18em;
  max-width: 60vw;
  min-height: 8em;
  max-height: 80vh;
  > header {
    display: flex;
    align-items: center;
    .modal-title {
      flex-grow: 1;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
    }
  }
  footer.modal-footer {
    margin: 0;
    display: flex;
    gap: 1em;
    justify-content: center;
    button {
      min-width: 6em;
    }
  }
  @media (max-width: 50rem) {
    max-width: 95vw;
  }

  // Special sizing for the large "settings" modal:
  &.game-settings-modal {
    min-width: 25rem;
    max-width: 90vw;
    width: 60rem;
    @media (max-width: 50rem) {
      min-width: 20rem;
      width: 30rem;
      max-width: 95vw;
    }
    header {
      text-align: center;
    }
  }

  &.profile-modal {
    .player-name {
      margin-top: 0.5em;
    }
  }
}
.modal-body {
  &:not(.long-format) {
    text-align: center;
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  // Add vertical scrolling to all modals:
  &.scroll {
    @extend .miniscrollbar;
    @extend .miniscrollbar-light;
    overflow-y: auto;
  }
  .spinner {
    margin-bottom: 0.5em;
  }
}

.modal-close-button {
  // From Bootstrap modal:
  --btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  width: 1.2em;
  height: 1.2em;
  background-color: colors.$text;
  mask-image: var(--btn-close-bg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  border: none;
  padding: 0;
  opacity: 0.5;
  margin-left: auto;
  &:hover {
    opacity: 0.75;
  }
}

form.modal-confirm-form {
  display: contents;
}