/*------------------------- Theme colors -------------------------*/
$gray-0: #eeeeee;
$gray-1: #e7e3e7;
$gray-2: #d9d7db;
$gray-3: #bab6be;
$gray-4: #948f97;
$gray-5:#615966 ;
$gray-6: #534c5f;

$accent: #b173da;
$bg: $gray-0;
$text: $gray-5;

$error-red: #e64949;

$like: $accent;

$button-bg: $gray-5;
$button-text: #fff;
$button-bg-hover: lighten($button-bg, 10%);
$button-accent-text: #fff;
$button-accent-bg-hover: lighten($accent, 10%);
$button-light-bg: $gray-3;
$button-lighter-bg: color-mix(in srgb, $bg 50%, $button-light-bg);
$button-secondary-bg: $gray-3;
$button-secondary-bg-hover: $gray-3;
$button-secondary-text: $gray-4;
$button-secondary-text-hover: #fff;

/*--------------------- Background gradients ---------------------*/

/*----------------------------- Cards ----------------------------*/

/*------------------------- Form controls ------------------------*/
$control-bg: $gray-0;
$control-bg-focus: lighten($gray-0, 2%);
$control-text: $gray-6;
$control-text-focus: #fff;
$control-border: transparent;
$control-border-focus: $gray-2;

/*------------------- "Panels" (modals & cards) ------------------*/
$modal-bg: #fff;
$panel-bg: #fff;
$tooltip-bg: color-mix(in srgb, $bg 70%, $gray-3);
