/*------------------------- Theme colors -------------------------*/
$gray-0: #eeeeee;
$gray-1: #e7d5e9;
$gray-2: #cabcda;
$gray-3: #978aa5;
$gray-4: #8e749c;
$gray-5:#64516e ;
$gray-6: #534c5f;

$accent: #fc8181;
$bg: $gray-0;
$text: #5a5a5a;

$error-red: #e64949;

$like: $accent;

$button-bg: $gray-4;
$button-text: $bg;
$button-bg-hover: lighten($button-bg, 10%);
$button-accent-text: #fff;
$button-accent-bg-hover: lighten($accent, 10%);
$button-light-bg: $gray-3;
$button-lighter-bg: color-mix(in srgb, $bg 50%, $button-light-bg);

/*--------------------- Background gradients ---------------------*/

/*----------------------------- Cards ----------------------------*/

/*------------------------- Form controls ------------------------*/
$control-bg: $gray-5;
$control-bg-focus: darken($control-bg, 10%);
$control-border: transparent;
$control-border-focus: #fff;

/*------------------- "Panels" (modals & cards) ------------------*/
$modal-bg: #fff;
$panel-bg: #fff;
$tooltip-bg: color-mix(in srgb, $bg 70%, $gray-3);
