@use 'colors.scss';

.question-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .result-text {
    height: 1.5rem;
  }
  .timebar-container {
    height: 0.5rem;
    margin-bottom: 1rem;
  }
  &.phase-reveal {
    .question-card {
      background-color: colors.$question-bg-reveal;
    }
  }
  // &.skipped .timer-bar .bar {
  //   background-color: colors.$choice-answer-bg;
  // }
  &.correct .timer-bar .bar {
    background-color: colors.$choice-correct-bg;
  }
  &.incorrect .timer-bar .bar {
    background-color: colors.$choice-incorrect-bg;
  }
}

.question-card {
  width: 20rem;
  height: 20rem;
  font-size: 10rem;
  margin-bottom: 2rem;

  color: colors.$question-text;
  background-color: colors.$question-bg;
  // border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(colors.$gray-5, 20%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Smooth color transitions:
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  @media (min-width: 768px) {
    max-width: 50vw;
  }
}
.choice-card {
  min-width: 7rem;
  min-height: 5rem;
  font-size: 2rem;

  background-color: colors.$choice-bg;
  border-radius: 0.4rem;
  box-shadow: 0 2px 6px rgba(colors.$gray-6, 10%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // Smooth color transitions:
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  &.selected {
    background-color: colors.$choice-selected-bg;
    color: colors.$choice-selected-text;
    font-weight: 600;
    transform: scaleX(1.05) scaleY(1.05); // from .hoverable-card
  }
  &.answer {
    color: colors.$choice-answer-text;
    background-color: colors.$choice-answer-bg;
    // background-image: colors.$choice-answer-gradient;
    // box-shadow: 0px 0px 20px 4px colors.$choice-answer-glow;
    &.correct {
      color: colors.$choice-correct-text;
      background-color: colors.$choice-correct-bg;
      // background-image: colors.$choice-correct-gradient;
      // box-shadow: 0px 0px 20px 6px colors.$choice-correct-glow;
    }
  }
  &.incorrect {
    color: colors.$choice-incorrect-text;
    background-color: colors.$choice-incorrect-bg;
    // background-image: colors.$choice-incorrect-gradient;
    // box-shadow: 0px 0px 20px 6px colors.$choice-incorrect-glow;
  }
  &:not(.readonly) {
    cursor: pointer;
    // &:hover {
    //   box-shadow: 0 3px 10px rgba(colors.$gray-6, 25%);
    //   background-color: colors.$choice-hover-bg;
    //   color: colors.$choice-selected-text;
    // }
  }
}

.hoverable-card {
  transition-property: transform, box-shadow, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
  &:hover {
    transform: scaleX(1.03) scaleY(1.03);
    cursor: pointer;
    &:not(.selected) {
      box-shadow: 0 3px 10px rgba(colors.$gray-6, 25%);
    }
  }
  &.selected {
    transform: scaleX(1.05) scaleY(1.05);
  }
}

.turn-count {
  text-align: center;
}