@use 'colors.scss';

.question-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .result-text {
    height: 1.5rem;
  }
  .timebar-container {
    height: 0.5rem;
    margin-bottom: 1rem;
  }
  // &.skipped .timer-bar .bar {
  //   background-color: colors.$choice-answer-bg;
  // }
  &.correct .timer-bar .bar {
    background-color: colors.$choice-correct-bg;
  }
  &.incorrect .timer-bar .bar {
    background-color: colors.$choice-incorrect-bg;
  }
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  @media (min-width: 768px) {
    max-width: 50vw;
  }
}

.control-button-group {
  height: 3rem;
}

.turn-count {
  text-align: center;
}

.floating-sidebar {
  position: fixed;
  z-index: 1;
  // Center vertically:
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.ingame-scoreboard-container {
  min-height: 20rem;
  .sb-col-name {
    width: auto;
  }
}
