@use './colors.scss';

.game-title {
  text-align: center;
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: colors.$gray-5;
  }
  h2 {
    margin-top: 0.25em;
    font-weight: 500;
    font-family: 'Kiwi Maru', sans-serif;
    font-size: 1.6em;
    letter-spacing: -5px;
    margin-left: -5px;
    color: rgba(colors.$accent-pink, 50%);
  }
  margin-bottom: 2em;
}

.login-card {
  margin: auto;
  width: 18rem;

  .google-login .icon-left {
    color: colors.$accent-gold;
  }
}

.home-card {
  margin: auto;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  > .game-button {
    width: 9rem;
  }
}