@use 'colors.scss';

.stats-side-column {
  // This is needed to enable scrolling:
  // TODO: make a proper scroller component
  display: flex;
  flex-direction: column;

  background-color: colors.$panel-bg;

  header {
    margin-top: 1.2rem;
  }
}

.stats-main-column {
  // This is needed to enable scrolling:
  // TODO: make a proper scroller component
  display: flex;
  flex-direction: column;

  > header {
    position: sticky;
    top: 0;
    // height: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    background-color: colors.$gray-0;
  }
}

.kanji-stat-list {
  padding: 1rem;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  .e {
    min-width: 2.5rem;
    min-height: 2.5rem;
    padding: 0.25rem;

    text-align: center;
    text-wrap: nowrap;

    border-radius: 2px;
    // border: 1px solid colors.$gray-2;
    background-color: colors.$choice-bg;
    box-shadow: 0 2px 2px rgba(colors.$gray-6, 10%);

    cursor: pointer;

    &.short,
    &.one,
    &.medium,
    &.long {
      font-size: 1.5rem;
    }
  }

  .entry-details-modal {
    position: relative;
    > header {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      .modal-close-button {
        background-color: colors.$question-text;
      }
    }
    .question-card {
      margin: 0;
      .main-content {
        background-color: colors.$gray-6;
      }
    }
  }
}
