// This file combines all the styles together.

@use 'colors.scss';
@use 'sizes.scss';

/*---------------------- Custom local stylesheets ---------------------*/

// Common components:
@import 'components/layouts.scss';
@import 'components/dropdown.scss';
@import 'components/scrollbar.scss';
@import 'components/checkbox.scss';
@import 'components/select.scss';
@import 'components/input.scss';
@import 'components/modal.scss';
@import 'components/icons.scss';
@import 'components/text.scss';
@import 'components/buttons.scss';
@import 'components/avatars.scss';
@import 'components/accordion.scss';
@import 'components/tooltip.scss';
@import 'components/spinner.scss';
@import 'components/panel.scss';

// Main screens:
@import 'login-screen.scss';
@import 'lobby-screen.scss';
@import 'game-screen.scss';
@import 'stats-page.scss';

// Specific components:
@import 'lobby-components/test-group-selector.scss';
@import 'game-components/game-menu.scss';
@import 'game-components/scoreboard.scss';
@import 'game-components/settings-modal.scss';
@import 'game-components/timer-bar.scss';
@import 'game-components/question-card.scss';
@import 'game-components/choice-card.scss';
@import 'game-components/typed-answer.scss';
@import 'stats-components/test-group-list.scss';

// Final overrides for mobile:

/*---------------------------- Root layout ---------------------------*/

:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: colors.$bg;
  color: colors.$text;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
